<h1 class="mb-3">Perfil de <%= current_user.name %></h1>
<% if current_user.admin %>
  <section>
    <h3>Eventos para aprovação</h3>
    <%= render "shared/cards/card_event" %>
  </section>
  <section>
    <h3>Locais para aprovação</h3>
    <%= render "shared/cards/card_location" %>
  </section>
<% else %>
  <section>
    <h3>Meus favoritos</h3>
    <% current_user.favorites.each do |favorite| %>
      <%= link_to favorite.location.name, location_path(favorite.location) %>
    <% end %>
  </section>
  <section>
    <div class="d-flex justify-content-between">
      <h3>Meus eventos</h3>
      <%= link_to "Adicionar um evento", new_event_path, class: "btn-main" %>
    </div>
    <% if @user == current_user %>
      <% if current_user.events.empty? %>
        <p class="mb-5">Você ainda não cadastrou nenhum evento</p>
      <% else %>
        <div>
          <%= render "shared/cards/card_event" %>
        </div>
      <% end %>
    <% end %>
  </section>
  <section>
    <div class="d-flex justify-content-between">
      <h3>Meus locais</h3>
      <%= link_to "Adicionar um local", new_location_path, class: "btn-main" %>
    </div>
    <% if @user == current_user %>
      <% if current_user.locations.empty? %>
        <p class="mb-5">Você ainda não cadastrou nenhum local</p>
      <% else %>
        <div>
          <% @locations = @locations.first(12) %>
          <%= render "shared/cards/card_location", locations: @locations %>
        </div>
      <% end %>
    <% end %>
  </section>
<% end %>
