<div class="grid-card-sq-lg">
  <div class="card-sq-lg" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.25)), url(<%= asset_path("teste-sp.png") %>)">
    <div class="card-sq-lg-content">
      São Paulo
    </div>
  </div>
  <div class="card-sq-lg" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= asset_path("teste-sp.png") %>)">
    <div class="card-sq-lg-content">
      Belo Horizonte
    </div>
  </div>
  <div class="card-sq-lg" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= asset_path("teste-sp.png") %>)">
    <div class="card-sq-lg-content">
      Belo Horizonte
    </div>
  </div>
</div>

<div class="grid-card-sq-md">
  <div class="card-sq-md" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.25)), url(<%= asset_path("teste-sp.png") %>)">
    <div class="card-sq-md-content">
      São Paulo
    </div>
  </div>
  <div class="card-sq-md" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= asset_path("teste-sp.png") %>)">
    <div class="card-sq-md-content">
      Belo Horizonte
    </div>
  </div>
  <div class="card-sq-md" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= asset_path("teste-sp.png") %>)">
    <div class="card-sq-md-content">
      Belo Horizonte
    </div>
  </div>
  <div class="card-sq-md" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= asset_path("teste-sp.png") %>)">
    <div class="card-sq-md-content">
      Belo Horizonte
    </div>
  </div>
</div>

<div class="grid-card-sq-sm">
  <div class="card-sq-sm" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.25)), url(<%= asset_path("teste-sp.png") %>)">
    <div class="card-sq-sm-content">
      São Paulo
    </div>
  </div>
  <div class="card-sq-sm" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= asset_path("teste-sp.png") %>)">
    <div class="card-sq-sm-content">
      Belo Horizonte
    </div>
  </div>
  <div class="card-sq-sm" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= asset_path("teste-sp.png") %>)">
    <div class="card-sq-sm-content">
      Belo Horizonte
    </div>
  </div>
  <div class="card-sq-md" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= asset_path("teste-sp.png") %>)">
    <div class="card-sq-md-content">
      Belo Horizonte
    </div>
  </div>
  <div class="card-sq-md" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= asset_path("teste-sp.png") %>)">
    <div class="card-sq-md-content">
      Belo Horizonte
    </div>
  </div>
    <div class="card-sq-md" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= asset_path("teste-sp.png") %>)">
    <div class="card-sq-md-content">
      Belo Horizonte
    </div>
  </div>
</div>

<h1>Vai viajar?</h1>
<% @cities.each do |city| %>
  <div card-sq-lg>
    <h1><%= link_to city.name, city_path(city.id) %></h1>
  </div>
<% end %>
