<div class="grid-card-location">
  <% @locations.each do |location| %>
    <%= link_to location_path(location), class: "card-location" do %>
      <div class="card-location-img" style="background-image: url('<%= location.photo.url %>');" ></div>
      <div class="card-location-content">
        <div class="card-location-title clamp-2">
          <h4><%= location.name %></h4>
        </div>
        <div class="card-location-description clamp-2">
          <%= location.description %>
        </div>
        <div class="card-location-description clamp-2">
          <p><%= location.address %></p> 
        </div>
      </div>
    <% end %>
  <% end %>
</div>
