<div class="grid-card-event">
  <% events.each do |event| %>
    <%= link_to event_path(event), class: "card-event" do %>
      <div class="card-event-img">
        <%= image_tag asset_path('teste-sp.png') %>
      </div>
      <div class="card-event-content">
        <div class="card-event-date">
          <%= event.date.strftime('%d/%m/%Y') %>
        </div>
        <div class="card-event-title clamp-2">
          <h4><%= event.title %></h4>
        </div>
        <div class="card-event-description clamp-2">
          <%= event.description %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
