<section>
  <%= render "banner" %>
</section>

<section class="city-details mb-5">
  <span class="d-flex align-items-baseline">
    <h1 class="city-name"><%= @city.name %></h1>
    <h2><% @city.state %></h2>
  </span>
  <p class="city-description">
    <%= @city.description %>
  </p>
</section>

<section id="city-neighborhood" class="mb-5">
  <div class="d-flex justify-content-between align-items-baseline">
    <h3>Bairros mais procurados</h3>
    <%= link_to 'Ver todos os bairros', neighborhoods_path, class: "link-text" %>
  </div>
  <% @elements = @neighborhoods.take(5) %>
  <%= render "shared/cards/card_neighborhood", elements: @elements %>
</section>

<section>
  <div class="d-flex justify-content-between align-items-baseline">
    <h3> Principais eventos da cidade</h3>
    <span class="link-text"><%= link_to 'Ver todos os eventos', events_path, class: "link-text" %></span>
  </div>
  <div class="" >
    <% @events = @events.first(4) %>
    <%= render "shared/cards/card_event", events: @events %>
  </div>
</section>

<section id="travel-info">
  <div class="travel-info">
    <div class="travel-image-container">
      <div class="travel-info-image" style="background-image: url('<%= image_url("cities/sp-metro.jpg") %>');" ></div>
    </div>
    <div class="travel-info-content">
      <p class="travel-info-small mb-2">Dicas dos nossos colaboradores</p>
      <h3 class="" >Mobilidade</h3>
      <p class="travel-info-text" >Precisa se locomover pela cidade? Temos um guia preparado para que você possa andar por aí como um local, com informações sobre os principais meios de transporte e dicas para garantir sua segurança nas ruas.</p>
    </div>
  </div>
</section>

<section class="mb-5">
  <h3> O que gostaria de fazer </h3>
  <%= render 'shared/cards/card_category', elements: Location.categories %>
</section>
