<section>
<%= render "banner" %>
</section>

<section class="city-details mb-5">
  <span class="d-flex align-items-baseline">
    <h1 class="city-name"><%= @city.name %></h1>
    <h2><% @city.state %></h2>
  </span>
  <p class="city-description">
    <%= @city.description %>
  </p>
</section>

<section class="mb-5">
  <h3> O que gostaria de fazer </h3>
  <%= render 'shared/cards/card_category', elements: Location.categories %>
</section>

<section id="city-neighborhood" class="mb-5">
  <div class="d-flex justify-content-between align-items-baseline">
    <h3>Bairros mais procurados</h3>
    <%= link_to 'Ver todos os bairros', neighborhoods_path, class: "link-text" %>
  </div>
  <% @elements = @neighborhoods.take(5) %>
  <%= render "shared/cards/card_neighborhood", elements: @elements %>
</section>

<section>
  <div class="d-flex justify-content-between align-items-baseline">
    <h3> Principais eventos da cidade</h3>
    <span class="link-text"><%= link_to 'Ver todos os eventos', events_path, class: "link-text" %></span>
  </div>
  <div class="" >
    <% @events = @events.first(4) %>
    <%= render "shared/cards/card_event", events: @events %>
  </div>
</section>
