<div>
  <div class="city-details">
    <span class="d-flex align-items-bottom"><h1 class="city-name"><%= @city.name %></h1> <h2>Estado</h2></span class="d-flex">
    <p class="city-description">
      <%= @city.description %>
    </p>

    <%= render 'shared/filter_category' %>

    <div class="row mb-3">
      <div class="col-lg-10">
        <h3> Principais eventos da cidade</h3>
      </div>
      <div class="col-lg-2 text-right">
        <%= link_to 'Ver todos os eventos', events_path, class: 'btn btn-primary' %>
      </div>
    </div>

    <div >
      <% @events.each do |event| %>
        <div class="event">
          <h4><%= link_to event.title, event_path(event) %></h4>
          <p><%= event.description %></p>
        </div>
      <% end %>
    </div>

    <div class="row mb-3">
      <div class="col-lg-10">
        <h3>Bairros mais procurados</h3>
      </div>
      <div class="col-lg-2 text-right">
        <%= link_to 'Ver todos os bairros', neighborhoods_path, class: 'btn btn-primary' %>
      </div>
    </div>

    <% @neighborhoods.each do |neighborhood| %>
      <div class="neighborhood">
        <%= link_to neighborhood.name, neighborhood_path(neighborhood) %>
      </div>
    <% end %>

    <div class="row mb-3">
      <div class="col-lg-10">
        <h3>Locais mais procurados</h3>
      </div>
      <div class="col-lg-2 text-right">
        <%= link_to 'Ver todos os locais', locations_path, class: 'btn btn-primary' %>
      </div>
    </div>

    <% @locations.each do |location| %>
      <div class="location">
        <%= link_to location.name, location_path(location) %>
      </div>
    <% end %>

  </div>
</div>
