<div class="row">
  <!-- Left: Location Cards -->
  <div class="col-md-6">
    <h1 class="map-page-heading"><%= @category %></h1>
    <div class="overflow-auto scrollable-content" style="height: 100vh;">
      <div class="d-flex flex-column locations-container-geo">
        <!-- Title -->
        <div class="grid-card-event-geo sq-md pr-5 pl-5">
          <% @locations.each do |location| %>
            <% asset_url = location.photo.url %>
            <%= link_to location_path(location), class: "map-marker-link location-link text-decoration-none", data: { id: location.id } do %>
              <div class="card-location-img-geo" data-action="mouseover->map#highlightMarker mouseout->map#unhighlightMarker" style="background-image: url('<%= asset_url %>');"></div>
              <div class="card-geo sq-md" data-id="<%= location.id %>" data-lat="<%= location.latitude %>" data-lng="<%= location.longitude %>">
                <div class="card-content-geo sq-md" data-action="mouseover->map#highlightMarker mouseout->map#unhighlightMarker">
                  <div>
                    <h5><%= location.name %></h5>
                  </div>
                  <div class="card-address link-text">
                    <%= location.address %>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <!-- Right: Map -->
  <div class="col-md-6">
    <div class="fixed-map">
      <div class="location-map" data-controller="map" data-map-markers-value="<%= @markers.to_json %>" data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
    </div>
  </div>
</div>
