<!-- Página de show para um local específico -->

<!-- Informações do local -->
<div class="location-info">
  <div class="d-flex align-items-baseline">
    <h1><%= @location.name %></h1>
    <h2><%= @neighborhood.name %></h2>
  </div>
  <div>
    <h4><%= @location.address %></h4>
  </div>
  <div>
    <p><%= @location.description %></p>
  </div>
</div>

<!-- Mapa -->


<div class="location-map" data-controller="map"
     data-map-markers-value="<%= [@marker].to_json %>"
     data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
     style="width: 100%; height: 400px;">
</div>
