
<section>
  <span class="d-flex align-items-baseline">
    <h1><%= @location.name %></h1>
    <h2><%= @neighborhood.name %></h2>
  </span>
  <h4><%= @location.address %></h4>
  <p class="mt-2"><%= @location.description %></p>

  <section>
<%= render "banner" %>
</section>

<!-- Map -->

  <div class="location-map" data-controller="map"
      data-map-markers-value="<%= [@marker].to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
      style="width: 100%; height: 400px;">
  </div>

  <div class="d-flex justify-content-between mt-3">
    <div>
      <% if @location.user == current_user %>
        <%= link_to "Editar local", edit_location_path, class: "btn-main" %>
        <%= link_to "Excluir local", location_path(@location), data: { turbo_method: :delete, turbo_confirm: "Tem certeza que gostaria de apagar esse local?" }, class: "btn-sub" %>
      <% end %>
    </div>
    <div>
      <%= link_to "Todos os locais", locations_path, class: "btn-main" %>
    </div>
  </div>
</section>
