<section class="position-relative">
  <div class="heart-icon-geo position-absolute special-heart-position d-flex align-items-center">

    <% if current_user && current_user.favorites.where(location_id: @location.id).exists? %>
       <i class="fa fa-heart favorited-heart"></i>
    <% else %>
      <%= link_to location_favorites_path(@location), data: {turbo_method: :post} do %>
        <span class="favoritar-text no-style-link">Favoritar</span><i class="fa fa-heart"></i>
      <% end %>
    <% end %>
  </div>
  <span class="d-flex align-items-baseline">
    <h1><%= @location.name %></h1>
    <h2><%= @neighborhood.name %></h2>
  </span>
  <h4><%= @location.address %></h4>
  <section>
    <%= render "banner" %>
  </section>
  <p class="mt-2"><%= @location.description %></p>
  <!-- Map -->
  <div class="location-map" data-controller="map"
      data-map-markers-value="<%= [@marker].to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
      style="width: 100%; height: 400px;">
  </div>
  <div class="d-flex justify-content-between mt-3">
    <% if user_signed_in? %>
      <div>
        <% if policy(@location).edit? %>
          <%= link_to "Editar local", edit_location_path, class: "btn-main" %>
        <% end %>
        <% unless @location.approved %>
          <% if policy(@location).approve? %>
            <%= link_to "Aprovar local", approve_location_path(@location) , class: "btn-main" %>
          <% end %>
        <% end %>
        <% if policy(@location).destroy? %>
          <%= link_to "Excluir local", location_path(@location), data: { turbo_method: :delete, turbo_confirm: "Tem certeza que gostaria de apagar esse local?" }, class: "btn-sub" %>
        <% end %>
      </div>
      <div>
        <%= link_to "Todos os locais", locations_path, class: "btn-main" %>
      </div>
    <% else %>
      <div>
        <%= link_to "Todos os locais", locations_path, class: "btn-main" %>

      </div>
    <% end %>
  </div>
</section>
