<%#
<section>
  <%= render "banner" %>
<%# </section>  %>

<div class="d-flex align-items-baseline">
  <h1><%= @location.name %></h1>

  <h2><%= @neighborhood.name %></h2>
</div>
<div>
  <h4><%= @location.address %></h4>
</div>
 <div>
 <p><%= @location.description %></p>
 </div>
